<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">Sorry, this group has students, so you can not delete it 😎</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Groups" asp-action="List" >Back</a>
    </div>
</div>