<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">There are no students in this group yet 🤷‍</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Groups" asp-action="List" >Groups</a>
    </div>
</div>